@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Varela+Round&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css2?family=Spinnaker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400);



.navbar{
    display: none;
}

body{
    background: #E4E6EF;
}

main{
    display: contents;
}

#asideContainer{
    background: #FE2D67;
    border-right: 2px white solid;
    position: absolute;
    padding: 0;
    width: 300px;
    height: 100%;
}

#headerContainer{
    height: 70px;
    width: 100%;
    /*position: fixed;*/
    padding: 0;
    background: #333;
    padding-left: 300px;
    border-bottom: 2px white solid;
}

#subHeaderContainer{
    height: 60px;
    width: 100%;
    /*position: fixed;*/
    padding: 0;
    background: white;
    padding-left: 300px;
    border-bottom: 2px white solid;
}

h3{
    font-family: 'Spinnaker';
    font-size: 18px;
    padding-top: 15px;
    padding-left: 20px;
}

#logoContainer{
    height: 70px;
    width: 100%;
    border-bottom: 2px white solid;
    text-align: center;
    background: #D9003C;
}

h1{
    color: white;
    font-size: 48px;
    font-family: 'Covered By Your Grace';
}

.icon{
    width: 24px;
}

.navLink{
    color: white;
    font-family: 'Spinnaker';
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
    position: fixed;
}

.navLink:hover{
    color: white;
}

.navItem{
    width: 100%;
    height: 60px;
    background-color: inherit;
    cursor: pointer;
    border-bottom: 1px rgb(248, 116, 116) solid;
}

.navItem:hover{
    background-color: #D9003C;
}

.active{
    background-color: #D9003C;
}

#headerContainer{
    display: flex;
}

#actionsContainer{
    width: 150px;
    height: 100%;
    background-color: #333;
    border-left: 2px white solid;
    display: flex;
    padding-left: 25px;
    padding-top: 13px;
}

.actionItem{
    background: #D1EBFA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.actionIcon{
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

#userAction{
    margin-left: 10px;
    opacity: 50%;
}

#messageAction{
    opacity: 50%;
}

#userAction:hover{
    background-color: #90d1f7;
    transition: 0.3s ease-in;
    cursor: pointer;
    opacity: 100%;
}

#messageAction:hover{
    background-color: #90d1f7;
    transition: 0.3s ease-in;
    cursor: pointer;
    opacity: 100%;
}

#blankContainer{
    width: 100%;
    height: 100%;
    background-color: inherit;
}

#userOptions{
    width: 250px;
    height: 500px;
    background-color: #ececec;
}


